<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body>
        <p><a href="/">Return</a></p> 
        <h1>About</h1>
        <p>Melon trade is a trading site in which you grow as much melons and trade melons in the melon market</p>
        <h2>How to use</h2>
        <p>Begin by buying a machine from the shop. You can only have a max of 5 machines in your account running. 
            You can also purchase items which increases the rate of watermelon growth.
            Every hour, a farm cycle is added to your account, per cycle you gain an amount of watermelons
            depending on your setup. Clicking collection will add the watermelons to your account.
            After collecting the watermelons, you can trade them in the trade section for money and use the money to buy
            better machines and items. Happy farming!
        </p>
    </body>
</html>