<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body>
        <h1>Welcome to WatermelonNet!!</h1>
        <% if(hasSession) { %>
            <p><a href="/profile">profile</a></p>
            <p><a href="/shop">shop</a></p>
            <p><a href="/sell-items">Sell items</a></p>
            <p><a href="/landshop">buy land</a></p>
            <p><a href="/collection">collection</a></p>
            <p><a href="/trade">Exchange</a></p>
            <p><a href="/logout">Logout</a></p>
        <% } else { %>
            <p><a href="/register">Register</a></p>
            <p><a href="/login">Login with us</a></p>
        <% } %>
            <p><a href="/users">Users</a></p>
            <p><a href="/about">About</a></p>
    </body>
</html>